body {  
  font-family: Arial;
  counter-reset: rows 9 cols;
}

.main {
  text-align: center;
}

/* Row labels */
.main__board > div::before {
  position: absolute;
  left: -20px;
  height: inherit;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(rows);
  counter-increment: rows -1;
  font-weight: bold;
  border: solid #000;
  border-width: 1px 2px;
  margin-top: -1px;
}
.main__board > div:first-child::before {
  box-shadow: 0 -1px 0 0 #000;
}
.main__board > div:nth-child(8)::before {
  box-shadow: 0 1px 0 0 #000;
}

/* Column labels */
.main__board > div:nth-child(8) > .square::before {
  display: block;
  height: 20px;
  width: inherit;
  margin-top: 100%;
  line-height: 22px;
  content: counter(cols, upper-latin);
  counter-increment: cols;
  font-weight: bold;
  border: solid #000;
  border-width: 2px 1px;
  margin-left: -1px;
}
.main__board > div:nth-child(8) > .square:first-child::before {
  box-shadow: -1px 0 0 0 #000;
}
.main__board > div:nth-child(8) > .square:nth-child(8)::before {
  box-shadow: 1px 0 0 0 #000;
}

.main__turn,
.main__game-over {
  margin-top: 30px;
  font-weight: bold;
}

.panel {
  position: fixed;
  bottom: 25px;
  border: solid #000 1px;
}
.panel__head {
  font-size: 14px;
  margin: 10px;
}

.army-value {
  left: 25px;
  padding: 0 5px 10px;
  text-align: center;
}

.settings {
  right: 25px;
  padding: 0 5px 5px;
}
.settings__file {
  max-width: 180px;
}
.settings__reset-game {
  margin: 15px 0 5px;
  text-align: center;
}
